body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9fafb;
    color: #333;
}

header {
    background-color: #2d6cdf;
    padding: 5px;
    color: white;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: red;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button,
input[type="submit"] {
    background-color: #2d6cdf;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background-color: #1c4cad;
}

h1,
h2 {
    color: #000000;
}